// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


body {
    background-image: url('../../back/images/fundme.png');
  }

.stories-list {
    .story {

        .story-info  {
            justify-content: space-between;
            align-items: left;
            padding: 20px;
            h2{
                text-transform: uppercase;
                font-weight: bolder;
            }
        }
        .photo {
            margin: 0 10px;
            img {
                height: 100px;
                width: auto;
            }
        }
       .story-amount  {
            display: flex;
            justify-content: start;
            align-items: center;
            padding: 10px;
       
            span{
                display: inline;
                color: orangered;
                font-size: 22px;
                padding-left: 20px;
            }
            .buttons {
            display: flex;
            justify-content: space-around;
            gap: 10px;
        }
    }
}


}

[data-gallery="0"] {
    display: none;
}

span.rem {
    font-weight: bold;
    color: white;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid crimson;
    background-color: crimson;
    border-radius: 50%;
    padding: 5px;
    width: 30px;
    height: 30px;
}
       
    
        
    
